{% extends "base.html" %}
{% block content %}
<p class="text-sm text-neutral-500 mt-20">$ journalctl -r</p>
<ul class="mt-6">
  {% for article in articles_page.object_list %}
    <li>
        <div class="flex gap-4">
            <a class="flex-grow overflow-hidden whitespace-nowrap text-ellipsis block hover:underline" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <span class="text-neutral-500">{{ article.date.strftime('%Y-%m-%d') }}</span>
        </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}
