{% extends "base.html" %}
{% block content %}
<article class="prose prose-invert font-mono max-w-4xl mt-20">
    <div class="grid gap-y-5">
        {% for project in SITE_DATA.repositories %}
        <div>
            <span class="inline-block">
            <a class="underline" href="{{ project.html_url }}">{{ project.name }}</a>
            {% if project.archived %}
            <span class="text-xs text-[#6a6aff]">archived</span>
            {% endif %}
            </span>
            <span class="text-xs text-neutral-500 block">{{ project.description }}</span>
        </div>
        {% endfor %}
    </div> 
</article>
{% endblock %}
