name: 'Publish website to Github Pages'

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: lukzmu/reusable-actions/setup-python@v1
        with:
          python-version: "3.14"
      - uses: lukzmu/reusable-actions/code-quality@v1
        with:
          main-module: personal_website
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
      
  publish:
    runs-on: ubuntu-latest
    needs:
      - code_quality
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: lukzmu/reusable-actions/setup-python@v1
        with:
          python-version: "3.14"
      - uses: lukzmu/reusable-actions/pelican-publish@v1
        with:
          content: personal_website/content
          settings: personal_website/core/settings.py
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
